* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
    background-color: lightgrey;
}

header {
    text-align: center;
    background-color: rgb(68, 64, 64);
    padding: 20px;
    color: white;
}

header h3 {
    font-style: italic;
}

/*Content of the page*/
.home {
    float: left;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 7px;
}

.home p {
    margin-bottom: 15px;
    margin-top: 15px;
}

hr {
    border: 2px solid rgb(68, 64, 64);
    border-radius: 10px;
}